node_modules/
.native-build/
native/
build/*
!build/icon.ico
!build/icon.png
dist/
release/
installer/output/
resources/*.dll
resources/*.exe
*.log
*.tmp
.DS_Store
Thumbs.db
EXTRAS/
*.pfx
*.pem
*.der
*.txt
deceive_utils.cs
